@import "tailwindcss";

@theme {
  --color-brand-primary: #395fd2;
  --color-brand-primary-light: oklch(0.785 0.115 274.713);
  --color-brand-secondary: oklch(93.8% 0.127 124.321);
  --color-brand-secondary-light: oklch(0.987 0.022 95.277);
  --color-brand-tertiary: oklch(0.905 0.093 164.15);
  --color-brand-tertiary-light: oklch(0.984 0.014 180.72);

  --color-bg-main: #fff;

  --color-bg-card-primary: oklch(54.6% 0.245 262.881);
  --color-bg-card-secondary: oklch(0.97 0 0);
  --color-bg-card-tertiary: oklch(0.943 0.029 294.588);
  --color-bg-card-quaternary: oklch(93.8% 0.127 124.321);

  --color-text-primary: #000;
  --color-text-secondary: #fff;
  --color-text-tertiary: oklch(0.556 0 0); /* 灰 */
  --color-text-on-primary: oklch(0.705 0.015 286.067);
  --color-text-on-secondary: oklch(20% 0 0);
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg-main);
  font-size: 16px;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
